.semibold {
  font-family: 'Gilroy Semibold';
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 30px;
}

ul {
  margin-top: 0;
  padding-left: 14px;
  list-style-image: url(../../../assets/list-point.svg);
}

.information-row {
  margin-top: 30px;

  .information-card {
    color: #303133;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #DFE0EB;
    padding: 30px;
  }

  .leader-card {
    border: 1px solid #DFE0EB;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    &-titel {
      text-align: center;
      font-size: 15px;
      line-height: 18px;
      color: #606266;
    }
    &-name {
      text-align: center;
    }

    &-img {
      margin: 20px 0;
      border-radius: 50px;
    }

    &-hr {
      margin-bottom: 15px;
      border: 0.5px solid #E4E7ED;
    }

    &-phones {
      text-align: center;

    }

    &-email {
      text-align: center;

    }
    a {
      color: #0486FE;
      text-decoration: underline;
    }
  }

  .consult {
    text-align: center;
  }
}
